# Default ssh keypair
keypair_name = "mykeypair"
# Add other ssh key list
ssh_authorized_keys = ["ssh-rsa AAAXXXXX mysshkey"]
#
bastion_count=1
#
k3s_master_type = "t2.medium"
k3s_master_count=1
k3s_master_variables={APP_BRANCH = "main",
    K3S_TOKEN = "__XXX_MY__TOKEN__",
    PORTAINER_HOST_REGEXP="dev-portainer-{subhost:[a-zA-Z0-9-]+}.mydomain.com"
}
#
k3s_agent_type = "t2.medium"
k3s_agent_count=1
k3s_agent_variables={APP_BRANCH = "main",
    K3S_TOKEN = "__XXX_MY__TOKEN__",
}
