keypair_name = "mykeypair"
ssh_authorized_keys = ["ssh-rsa AAAXXXXX mysshkey"]
k3s_master_variables={APP_BRANCH = "main",
    K3S_TOKEN = "__XXX_MY__TOKEN__",
    PORTAINER_HOST_REGEXP="dev-portainer-{subhost:[a-zA-Z0-9-]+}.mydomain.com"
}
